Exercies 2

# Data Science Tools and Ecosystem

Exercise 3

In this notebook, Data Science Tools and Ecosystem are summarized.

Exercise 4

Some of the popular languages that Data Scientists use are:
    
    1. Python
    2. R
    3. SQL

Exercise 5

Some of the commonly used libraries used by Data Scientists include:
    
    1. Pandas
    2. Numpy
    3. Matplotlib
    4. Seaborn
    5. Scikit learn

Exercise 6

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|Tableau|
|Apache Spark|

Exercise 7

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# Exercise 8

(3*4)+5 #This a simple arithmetic expression to mutiply then add integers

17

In [4]:
# Exercise 9

minutes = 200
hours = minutes/60 #This will convert 200 minutes to hours by diving by 60
print(hours)

3.3333333333333335

Exercise 10

**Objectives:**

 - List popular languages for Data Science
 - List popular languages for Data Science
 - create a code for converting minutes to hours

Exercise 11

## Author

Karthiga